{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}





{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
     label {
    color: rgb(64, 54, 54);
    font-weight: bold;
    align: center;
    display: block;
}
h2 {
  display: inline-block; /* or display: block; if necessary */
}
.points-box {
        background-color: white;
    }
    .points-box h1, .points-box label {
        color: rgb(120, 34, 34);
        font-weight: bold;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chFighter.css'%}">


</head>
<script>function redirectToChooseFighters() {
    window.location.href = "choosefighters";
  }</script>
<body>
    <div class="header">
        <div class="container">
            <div class="left">
                <div class="logo-container">
                  <img src="{% static 'images/choosefighter.png' %}" alt="log">
                </div>
                <h1>UFC fantasy league</h1>
            </div>
            <div class="right">
                <nav>
                    {% if request.session.email %}
                    <p>Logged in as {{ request.session.email }}</p>
                    <a href="{% url 'logout' %}">Logout</a> {% else %}
                    <p>You're not logged in</p>
                    <a href="{% url 'signIn' %}">Sign In</a> {% endif %}
                </nav>
                <a class="get-start-btn" href="home">Home</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <br><br>
            <div class="t-center">
                <h1>Andradre v Blanchfield<br>Flyweight Bout</h1>
            </div>
            <form method="post" action="{%}"> 
                {% csrf_token %}
                <div class="wrapper">
                    <div class="boxes-container">
                        <h1>Jessica Andradre</h1>
                        <img src="{% static 'images/andradre.png' %}" alt="Andradre">
                        <div class="inner-container">
                            <div class="box">
                                <h2>Record</h2>
                                <ul>
                                    <li>
                                        <label for="REC">24-10-0 (W-L-D)</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Last 5 fights</h2>
                                <ul>
                                    <li>
                                        <label for="F">W L W W W</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Strike Accuracy</h2>
                                <ul>
                                    <li>
                                        <label for="SAA">51%</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Takedown Accuracy</h2>
                                <ul>
                                    <li>
                                        <label for="TAK">55%</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box points-box">
                                <h1>Points: 8</h1>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="boxes-container">
                        <h1>Erin Blanchfield</h1>
                        <img src="{% static 'images/blanchfield.png' %}" alt="blanchfield">
                        <div class="inner-container">
                            <div class="box">
                                <h2>Record</h2>
                                <ul>
                                    <li>
                                        <label for="wld">11-1-0 (W-L-D)</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Last 5 Fights</h2>
                                <ul>
                                    <li>
                                        <label for="WWWWW">W W W W W</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Strike Accuracy</h2>
                                <ul>
                                    <li>
                                        <label for="SA">54%</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box">
                                <h2>Takedown Accuracy</h2>
                                <ul>
                                    <li>
                                        <label for="TA">63%</label>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="box points-box">
                                <h1>Points: 5</h1>
                                
                            </div>
                            
                        </div>
                    </div>
                </div> <br>
                <div class="t-center">
                    <button type="button" onclick="redirectToChooseFighters()" class="btn">Back to Choose Fighters</button><br><br>
                </div>
            </form>
        </div>
    </main>
    <script src="{% static 'js.js' %}"></script>
</body>

</html>