{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}




<!DOCTYPE html>
<html lang="en">
    <header style="background-color: red; text-align: center;">
        <h1 style="color: white; text-shadow: 1px 1px black;">UFC Fantasy League</h1>
    </header>
    <head>
        <meta charset="UTF-8">
        <Title>Welcome {{email}}</Title>
        <style>
            div{
                position: absolute;
                right: 10px;
                top: 5px;
            }
        </style>
    </head>
    <body>
      <div>
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
    signed in as {{email}}<br><br>
    <form action="postcreateleague" method="post">
      {% csrf_token %}
      League name :
      <input type="text" name="leaguename"><br><br>
      Unique code : 
      <input type="text" name="uniquecode"><br><br>
  
      <input type="submit" value="Create">

</body>
</html>
