{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}



<!DOCTYPE html>
<html lang="en">
    <header style="background-color: red; text-align: center;">
        <h1 style="color: white; text-shadow: 1px 1px black;">UFC Fantasy League</h1>
    </header>
    <head>
        <meta charset="UTF-8">
        <Title>Join league</Title>
        <style>
            div{
                position: absolute;
                right: 10px;
                top: 5px;
            }
        </style>
    </head>
    <body>
      <div>
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
        Signed in as {{email}}<br><br>
  <h1>Join a League</h1>
  <form action="{% url 'joinleague' %}" method="post">
    {% csrf_token %}
    <p>
      <label for="league_id">League ID:</label>
      <input type="text" id="league_id" name="league_id">
    </p>
    <p>
      <input type="submit" value="Join League">
    </p>
  </form>
</body>
</html>