{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}


<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <style>
    /* Add your styles here */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: #fff;
      padding: 10px;
    }
    .header h1 {
      margin: 0;
      font-size: 24px;
    }
    .header a {
      color: #fff;
      text-decoration: none;
    }
    .header a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>UFC fantasy league</h1>
    {% if request.session.email %}
      <p>Logged in as {{ request.session.email }}</p>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>You're not logged in</p>
      <a href="{% url 'signIn' %}">Sign In</a>
    {% endif %}
  </div>
  <div class="content">
    {% block content %}{% endblock %}
    </div>
    <br><br>
<form action="postsign" method="post">
    {% csrf_token %}   
    Email : 
    <input type="email" name="email"><br><br>
    Password : 
    <input type="password" name="pass"><br><br>
    <input type="submit" value="SignIn">
    <button type="button" onclick="location.href='{% url 'signUp' %}'">Sign up</button>
</form>
</body>
</html>

