{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8>
    <Title>Sign In</Title>
</head>
<body>
<form action="postsignUp" method="post">
    {% csrf_token %}
    Name :
    <input type="text" name="name"><br><br>

    Email : 
    <input type="email" name="email"><br><br>
    Password : 
    <input type="password" name="pass"><br>

    <button type="button" onclick="location.href='{% url 'signIn' %}'">Sign up</button>
</form>
</body>
</html>
