<!DOCTYPE html>
<html lang="en">
    <header style="background-color: red; text-align: center;">
        <h1 style="color: white; text-shadow: 1px 1px black;">UFC Fantasy League</h1>
    </header>
    <head>
        <meta charset="UTF-8">
        <Title>Join league</Title>
        <style>
           
        </style>
    </head>
<body>
    <div>
        <h1>Enter league details</h1> 

        <h4>Name of league</h4> 
        <input id="enterName" type="text"> 

        <h4>Max players</h4> 
        <input id="enterMaxPlayers" type="number"> <br><br>

        <button id="insert">INSERT</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-firestore.js"></script>

    <script>
        // Initialize Firebase
        var firebaseConfig = {
  apiKey: "AIzaSyD-_zfDFYhcZUDpTTaKS7I0YJahMaqiCLs",
  authDomain: "mma-fantasy-league-94b6e.firebaseapp.com",
  databaseURL: "https://mma-fantasy-league-94b6e-default-rtdb.firebaseio.com",
  projectId: "mma-fantasy-league-94b6e",
  storageBucket: "mma-fantasy-league-94b6e.appspot.com",
  messagingSenderId: "837434946169",
  appId: "1:837434946169:web:7a0210a7c523225e629aa8",
  measurementId: "G-DRKKN38R7H"
};
        firebase.initializeApp(firebaseConfig);

        var db = firebase.firestore();

        var enterName = document.querySelector("#enterName");
        var enterMaxPlayers = document.querySelector("#enterMaxPlayers");

        var insertBtn = document.querySelector("#insert");

        function InsertData() {
            db.collection("leagues").add({
                name: enterName.value,
                max_players: parseInt(enterMaxPlayers.value)
            })
            .then(function() {
                alert("Data added successfully");
            })
            .catch(function(error) {
                alert(error);
            });
        }

        insertBtn.addEventListener('click', InsertData);
    </script>
</body>
</html>
