{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}




<!DOCTYPE html>
<html lang="en">
    <header style="background-color: red; text-align: center;">
        <h1 style="color: white; text-shadow: 1px 1px black;">UFC Fantasy League</h1>
      </header>
<head>
    
    <meta charset=""UTF-8>
    <Title>Welcome</Title>
    <style>
        div{
        position: absolute;
        right: 10px;
        top: 5px;
        }
    </style>
</head>
<body>
    
   

<div>
<button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
</div>

welcome {{e}}<br><br>
<button type="button" onclick="location.href='{% url 'choosefighters' %}'">Choose Fighters</button><br>
<button type="button" onclick="location.href='{% url 'joinleague' %}'">Join league</button><br>
<button type="button" onclick="location.href='{% url 'createleague' %}'">Create league</button><br>
<button type="button" onclick="location.href='{% url 'leaguetable' %}'">leaguetable</button>


</body>
</html>